## 1.0 - Install and import library

In [1]:
!pip install -i https://test.pypi.org/simple/ FINITO-FEM-TOOLBOX
from FINITO_FEM_TOOLBOX import *

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: FINITO-FEM-TOOLBOX in c:\programdata\anaconda3\lib\site-packages (0.0.0)

## 2.0 - Run FINITO framework ```.txt``` file

In [2]:
FRAME_01_RESULTS = MEF1D(FILENAME = 'FRAME_01.txt')

## 3.0 - View results in command line

View results about **0** element

In [3]:
FRAME_01_BAR_0 = FRAME_01_RESULTS[0] 
print(FRAME_01_BAR_0)

{'X': array([0. , 0.3, 0.6, 0.9, 1.2, 1.5, 1.8, 2.1, 2.4, 2.7, 3. ]), 'UX': array([ 0.00000000e+00, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
       -1.98900000e+03, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
       -1.98900000e+03, -1.98900000e+03, -4.28442356e-05]), 'UY': array([ 0.00000000e+00, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
       -1.98900000e+03, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
       -1.98900000e+03, -1.98900000e+03,  4.42077327e-06]), 'UZ': array([ 0.000000e+00, -1.989000e+03, -1.989000e+03, -1.989000e+03,
       -1.989000e+03, -1.989000e+03, -1.989000e+03, -1.989000e+03,
       -1.989000e+03, -1.989000e+03, -3.468227e-20]), 'N': array([2829.29489136, 2829.29489136, 2829.29489136, 2829.29489136,
       2829.29489136, 2829.29489136, 2829.29489136, 2829.29489136,
       2829.29489136, 2829.29489136, 2829.29489136]), 'V': array([-121.9061316, -121.9061316, -121.9061316, -121.9061316,
       -121.9061316, -121.9061316, -121.9061316, -121.9061316,
       -121.9061316, -121.9061316, -121.9061316]), 'M': array([ 3.65718395e+02,  3.29146555e+02,  2.92574716e+02,  2.56002876e+02,
        2.19431037e+02,  1.82859197e+02,  1.46287358e+02,  1.09715518e+02,
        7.31436790e+01,  3.65718395e+01, -5.68434189e-14]), 'ID_ELEMENT': 0}

### 3.1 - View ```axial``` internal load

In [4]:
FRAME_01_BAR_0['N']

array([2829.29489136, 2829.29489136, 2829.29489136, 2829.29489136,
       2829.29489136, 2829.29489136, 2829.29489136, 2829.29489136,
       2829.29489136, 2829.29489136, 2829.29489136])

- ```FRAME_01_BAR_0['N'][0]``` - First DIV or 0 internal node in 0 Element;
- ```FRAME_01_BAR_0['N'][10]``` - Last DIV or 1 internal node in 0 Element.

### 3.1 - Interesting view ```axial``` internal load using ```pandas``` framework

In [5]:
import pandas as pd
FRAME_01_BAR_0 = pd.DataFrame(data = FRAME_01_BAR_0)
FRAME_01_BAR_0.head(50)

,X,UX,UY,UZ,N,V,M,ID_ELEMENT
0,0.0,0.000000,0.000000,0.000000e+00,2829.294891,-121.906132,3.657184e+02,0
1,0.3,-1989.000000,-1989.000000,-1.989000e+03,2829.294891,-121.906132,3.291466e+02,0
2,0.6,-1989.000000,-1989.000000,-1.989000e+03,2829.294891,-121.906132,2.925747e+02,0
3,0.9,-1989.000000,-1989.000000,-1.989000e+03,2829.294891,-121.906132,2.560029e+02,0
4,1.2,-1989.000000,-1989.000000,-1.989000e+03,2829.294891,-121.906132,2.194310e+02,0
5,1.5,-1989.000000,-1989.000000,-1.989000e+03,2829.294891,-121.906132,1.828592e+02,0
6,1.8,-1989.000000,-1989.000000,-1.989000e+03,2829.294891,-121.906132,1.462874e+02,0
7,2.1,-1989.000000,-1989.000000,-1.989000e+03,2829.294891,-121.906132,1.097155e+02,0
8,2.4,-1989.000000,-1989.000000,-1.989000e+03,2829.294891,-121.906132,7.314368e+01,0
9,2.7,-1989.000000,-1989.000000,-1.989000e+03,2829.294891,-121.906132,3.657184e+01,0
10,3.0,-0.000043,0.000004,-3.468227e-20,2829.294891,-121.906132,-5.684342e-14,0

Using ```.loc``` to view results in third DIV (ID = 2).

In [6]:
TEST = FRAME_01_BAR_0.loc[2]
TEST

X                0.600000
UX           -1989.000000
UY           -1989.000000
UZ           -1989.000000
N             2829.294891
V             -121.906132
M              292.574716
ID_ELEMENT       0.000000
Name: 2, dtype: float64

View ```axial``` internal load in third DIV (ID = 2).

In [7]:
TEST[4]

2829.29489135508