## 1.0 - Install and import library

In [1]:
!pip install -i https://test.pypi.org/simple/ FINITO-FEM-TOOLBOX
from FINITO_FEM_TOOLBOX import *

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: FINITO-FEM-TOOLBOX in c:\programdata\anaconda3\lib\site-packages (0.0.0)

## 2.0 - Run FINITO framework ```.txt``` file

In [2]:
# Dataset
TRUSS_01 = {  "TYPE_ELEMENT": 0,        
              "TYPE_SOLUTION": 0,       
              "N_NODES": 5,
              "N_MATERIALS": 1,
              "N_SECTIONS": 1,
              "N_ELEMENTS": 7,
              "N_DOFPRESCRIPTIONS": 3,
              "N_DOFLOADED": 4,
              "N_DOFSPRINGS": 1,
              "COORDINATES":            
              np.array([[0.0, 0.0],      
                [2.0, 0.0],
                [4.0, 0.0],
                [3.0,1.5],
                [1.0,1.5]]),
              "ELEMENTS": 
              np.array([[0, 1, 0, 0, 1, 1],
                [1, 2, 0, 0, 1, 1],
                [2, 3, 0, 0, 1, 1],
                [3, 4, 0, 0, 1 ,1],
                [0, 4, 0, 0, 1, 1],
                [1, 4, 0, 0, 1, 1],
                [1, 3, 0, 0, 1, 1]]),
              "MATERIALS": 
              np.array([[200E9, 0.3, 78, 0.000010]]),
              "SECTIONS": 
              np.array([[0.04, -1989, 0.000133, -1989, -1989]]),
              "PRESCRIBED DISPLACEMENTS": 
              np.array([[0, 0, 0],
                [0, 1, 0],
                [2, 0, 0]]),
              "NODAL LOADS": 
              np.array([[3, 0, 10000],
                        [3, 1, -10000],
                        [4, 0, 10000],
                        [4, 1, -10000]]),
              "SPRINGS": 
              np.array([[2, 1, 5E3]])}

In [3]:
TRUSS_01_RESULTS = MEF1D(DICTIONARY = TRUSS_01)

## 3.0 - View results in command line

View results about **0** element.

In [4]:
TRUSS_01_BAR_0 = TRUSS_01_RESULTS[0] 
print(TRUSS_01_BAR_0)

{'X': array([0. , 0.2, 0.4, 0.6, 0.8, 1. , 1.2, 1.4, 1.6, 1.8, 2. ]), 'UX': array([ 0.000e+00, -1.989e+03, -1.989e+03, -1.989e+03, -1.989e+03,
       -1.989e+03, -1.989e+03, -1.989e+03, -1.989e+03, -1.989e+03,
        1.250e-06]), 'UY': array([ 0.00000000e+00, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
       -1.98900000e+03, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
       -1.98900000e+03, -1.98900000e+03, -1.75000437e+00]), 'UZ': array([ 0.00000000e+00, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
       -1.98900000e+03, -1.98900000e+03, -1.98900000e+03, -1.98900000e+03,
       -1.98900000e+03, -1.98900000e+03,  6.19052534e-10]), 'N': array([5000.00000312, 5000.00000312, 5000.00000312, 5000.00000312,
       5000.00000312, 5000.00000312, 5000.00000312, 5000.00000312,
       5000.00000312, 5000.00000312, 5000.00000312]), 'V': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]), 'M': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]), 'ID_ELEMENT': 0}

### 3.1 - View ```axial``` internal load

In [5]:
TRUSS_01_BAR_0['N']

array([5000.00000312, 5000.00000312, 5000.00000312, 5000.00000312,
       5000.00000312, 5000.00000312, 5000.00000312, 5000.00000312,
       5000.00000312, 5000.00000312, 5000.00000312])

- ```TRUSS_01_BAR_0['N'][0]``` - First DIV or 0 internal node in 0 Element;
- ```TRUSS_01_BAR_0['N'][10]``` - Last DIV or 1 internal node in 0 Element.

### 3.1 - Interesting view ```axial``` internal load using ```pandas``` framework

In [6]:
import pandas as pd
TRUSS_01_BAR_0 = pd.DataFrame(data = TRUSS_01_BAR_0)
TRUSS_01_BAR_0.head(50)

,X,UX,UY,UZ,N,V,M,ID_ELEMENT
0,0.0,0.000000,0.000000,0.000000e+00,5000.000003,0.0,0.0,0
1,0.2,-1989.000000,-1989.000000,-1.989000e+03,5000.000003,0.0,0.0,0
2,0.4,-1989.000000,-1989.000000,-1.989000e+03,5000.000003,0.0,0.0,0
3,0.6,-1989.000000,-1989.000000,-1.989000e+03,5000.000003,0.0,0.0,0
4,0.8,-1989.000000,-1989.000000,-1.989000e+03,5000.000003,0.0,0.0,0
5,1.0,-1989.000000,-1989.000000,-1.989000e+03,5000.000003,0.0,0.0,0
6,1.2,-1989.000000,-1989.000000,-1.989000e+03,5000.000003,0.0,0.0,0
7,1.4,-1989.000000,-1989.000000,-1.989000e+03,5000.000003,0.0,0.0,0
8,1.6,-1989.000000,-1989.000000,-1.989000e+03,5000.000003,0.0,0.0,0
9,1.8,-1989.000000,-1989.000000,-1.989000e+03,5000.000003,0.0,0.0,0
10,2.0,0.000001,-1.750004,6.190525e-10,5000.000003,0.0,0.0,0

Using ```.loc``` to view results in third DIV (ID = 2).

In [7]:
TEST = TRUSS_01_BAR_0.loc[2]
TEST

X                0.400000
UX           -1989.000000
UY           -1989.000000
UZ           -1989.000000
N             5000.000003
V                0.000000
M                0.000000
ID_ELEMENT       0.000000
Name: 2, dtype: float64

View ```axial``` internal load in third DIV (ID = 2).

In [8]:
TEST[4]

5000.000003124196